//
//  DTSLib2.xcconfig
//  Settings common to all configurations and targets of the DTSLib2 Xcode project.
//
//	Copyright 2023 Delta Tao Software, Inc.
// 
//	Licensed under the Apache License, Version 2.0 (the "License");
//	you may not use this file except in compliance with the License.
//	You may obtain a copy of the License at
// 
//		https://www.apache.org/licenses/LICENSE-2.0
// 
//	Unless required by applicable law or agreed to in writing, software
//	distributed under the License is distributed on an "AS IS" BASIS,
//	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//	See the License for the specific language governing permissions and
//	imitations under the License.
//
ALWAYS_SEARCH_USER_PATHS = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO
MACOSX_DEPLOYMENT_TARGET = 10.6
WARNING_CFLAGS = -Wall -Wextra
VALID_ARCHS = i386 ppc
