<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
**	Copyright 2023 Delta Tao Software, Inc.
** 
**	Licensed under the Apache License, Version 2.0 (the "License");
**	you may not use this file except in compliance with the License.
**	You may obtain a copy of the License at
** 
**     https://www.apache.org/licenses/LICENSE-2.0
** 
**	Unless required by applicable law or agreed to in writing, software
**	distributed under the License is distributed on an "AS IS" BASIS,
**	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
**	See the License for the specific language governing permissions and
**	imitations under the License.
-->
<plist version="1.0">
<dict>
	<key>Styles</key>
	<array>
		<dict>
			<key>Color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>FontSize</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Normal (info)</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<integer>0</integer>
			</array>
			<key>FontFace</key>
			<integer>2</integer>
			<key>FontSize</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Log on (info)</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<integer>0</integer>
			</array>
			<key>FontFace</key>
			<integer>3</integer>
			<key>FontSize</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Log on — friend (info)</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<integer>0</integer>
			</array>
			<key>FontFace</key>
			<integer>2</integer>
			<key>FontSize</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Log off (info)</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.5</real>
				<integer>0</integer>
			</array>
			<key>FontFace</key>
			<integer>3</integer>
			<key>FontSize</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Log off — friend (info)</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>0</integer>
				<real>0.4</real>
				<real>0.4</real>
				<integer>0</integer>
			</array>
			<key>FontSize</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Sharing (info)</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>0</integer>
				<real>0.4</real>
				<real>0.4</real>
				<integer>0</integer>
			</array>
			<key>FontFace</key>
			<integer>1</integer>
			<key>FontSize</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Sharing — friend (info)</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.5</real>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>FontSize</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Announcement (info)</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.25</real>
				<real>0.125</real>
				<real>0.125</real>
				<integer>0</integer>
			</array>
			<key>FontSize</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Fallen (info)</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.25</real>
				<real>0.125</real>
				<real>0.125</real>
				<integer>0</integer>
			</array>
			<key>FontFace</key>
			<integer>1</integer>
			<key>FontSize</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Fallen — friend (info)</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>FontSize</key>
			<integer>12</integer>
			<key>Name</key>
			<string>Speech (text window)</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>0</integer>
				<real>0.3125</real>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>FontSize</key>
			<integer>12</integer>
			<key>Name</key>
			<string>Speech — friend (text window)</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.3125</real>
				<integer>0</integer>
				<real>0.2</real>
				<integer>0</integer>
			</array>
			<key>FontSize</key>
			<integer>12</integer>
			<key>Name</key>
			<string>Speech — self (text window)</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.2</real>
				<real>0.2</real>
				<real>0.2</real>
				<integer>0</integer>
			</array>
			<key>FontSize</key>
			<integer>9</integer>
			<key>Name</key>
			<string>Bubbles (game window)</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<real>0.2</real>
				<integer>0</integer>
			</array>
			<key>FontSize</key>
			<integer>9</integer>
			<key>Name</key>
			<string>Bubbles — friend (game window)</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.1725</real>
				<real>0.4</real>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>FontFace</key>
			<integer>6</integer>
			<key>FontSize</key>
			<integer>12</integer>
			<key>Name</key>
			<string>Thinkto messages</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.431</real>
				<real>0.431</real>
				<real>0.973</real>
				<integer>0</integer>
			</array>
			<key>FontFace</key>
			<integer>2</integer>
			<key>FontSize</key>
			<integer>9</integer>
			<key>Name</key>
			<string>Time stamps</string>
		</dict>
	</array>
</dict>
</plist>
